### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

# purchase_data_df["Price"] = purchase_data_df.loc[:, "Price"].astype(int)

# purchase_data_df.dtypes

## Player Count

* Display the total number of players

In [2]:
player_count = (len(purchase_data_df["SN"].unique()))
pd.DataFrame({"Total Players": [player_count]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
purchase_data_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [4]:
average_item_price = purchase_data_df["Price"].mean()
total_purchase_value = purchase_data_df["Price"].sum()
purchase_count = purchase_data_df["Price"].count()
item_count = len(purchase_data_df["Item ID"].unique())

summary_table = pd.DataFrame({"Number of Unique Items": item_count,
                              "Total Revenue": [total_purchase_value],
                              "Number of Purchases": [purchase_count],
                              "Average Price": [average_item_price]})

summary_table = summary_table.round(2)
summary_table ["Average Price"] = summary_table["Average Price"].map("${:,.2f}".format)
summary_table ["Number of Purchases"] = summary_table["Number of Purchases"].map("{:,}".format)
summary_table ["Total Revenue"] = summary_table["Total Revenue"].map("${:,.2f}".format)
summary_table = summary_table.loc[:,["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]

summary_table

   Number of Unique Items Average Price Number of Purchases Total Revenue
0                     179         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
player_dem = purchase_data_df.loc[:, ["Gender", "SN", "Age"]]
player_dem = player_dem.drop_duplicates()

gender_dem_total = player_dem["Gender"].value_counts()
gender_dem_percent = (gender_dem_total/player_count)
gender_dem = pd.DataFrame({"Total Count": gender_dem_total, "Percentage of Players": gender_dem_percent})
gender_dem["Percentage of Players"] = gender_dem["Percentage of Players"].map("{:.2%}".format)

gender_dem

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting

* Display the summary data frame

In [6]:
gender_counts = purchase_data_df.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
gender_purc_total = purchase_data_df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
gender_avg = purchase_data_df.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
avg_purch_total = gender_purc_total / gender_dem["Total Count"]

gender_data = pd.DataFrame({"Purchase Count": gender_counts, 
                            "Average Purchase Price": gender_avg, 
                            "Total Purchase Value": gender_purc_total, 
                            "Avg Total Purchase": avg_purch_total})

gender_data["Average Purchase Price"] = gender_data["Average Purchase Price"].map("${:,.2f}".format)
gender_data["Total Purchase Value"] = gender_data["Total Purchase Value"].map("${:,.2f}".format)
gender_data ["Purchase Count"] = gender_data["Purchase Count"].map("{:,}".format)
gender_data["Avg Total Purchase per Person"] = gender_data["Avg Total Purchase"].map("${:,.2f}".format)
gender_data = gender_data.loc[:, ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]]

gender_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 10000000]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_dem = purchase_data_df.loc[:, ["Gender", "SN", "Age"]]
age_dem = age_dem.drop_duplicates()

age_dem["Age Demographics"] = pd.cut(age_dem["Age"], bins, labels=group_labels)
age_group_df = age_dem.groupby("Age Demographics")
age_count = age_group_df["Age"].count().rename("Total Count")

In [8]:
percent_players = age_count/player_count

player_data = pd.DataFrame({"Percentage of Players": percent_players, 
                            "Total Count": age_count})
player_data["Percentage of Players"] = player_data["Percentage of Players"].map("{:.2%}".format)

player_data

                 Percentage of Players  Total Count
Age Demographics
<10                              2.95%           17
10-14                            3.82%           22
15-19                           18.58%          107
20-24                           44.79%          258
25-29                           13.37%           77
30-34                            9.03%           52
35-39                            5.38%           31
40+                              2.08%           12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 10000000]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purch_by_age = purchase_data_df.loc[:, ["Age", "SN", "Price"]]
# age_dem = age_dem.drop_duplicates()

purch_by_age["Age"] = pd.cut(purch_by_age["Age"], bins, labels=group_labels)

rage_count = purch_by_age.groupby(["Age"]).count()["SN"].rename("Purchase Count")
age_purc_total =purch_by_age.groupby(["Age"]).sum()["Price"].rename("Total Purchase Value")
age_avg = purch_by_age.groupby(["Age"]).mean()["Price"].rename("Average Purchase Price")
age_avg_purch_total = (age_purc_total / age_count)

purchasing_analysis_age = pd.DataFrame({"SN": rage_count, 
                            "Average Purchase Price": age_avg, 
                            "Total Purchase Value": age_purc_total, 
                            "Avg Total Purchase": age_avg_purch_total})

purchasing_analysis_age["Average Purchase Price"] = purchasing_analysis_age["Average Purchase Price"].map("${:,.2f}".format)
purchasing_analysis_age["Total Purchase Value"] = purchasing_analysis_age["Total Purchase Value"].map("${:,.2f}".format)
purchasing_analysis_age ["SN"] = purchasing_analysis_age["SN"].map("{:,}".format)
purchasing_analysis_age["Avg Total Purchase"] = purchasing_analysis_age["Avg Total Purchase"].map("${:,.2f}".format)
# gender_data = gender_data.loc[:, ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]]

purchasing_analysis_age

        SN Average Purchase Price Total Purchase Value Avg Total Purchase
Age
<10     23                  $3.35               $77.13              $4.54
10-14   28                  $2.96               $82.78              $3.76
15-19  136                  $3.04              $412.89              $3.86
20-24  365                  $3.05            $1,114.06              $4.32
25-29  101                  $2.90              $293.00              $3.81
30-34   73                  $2.93              $214.00              $4.12
35-39   41                  $3.60              $147.67              $4.76
40+     13                  $2.94               $38.24              $3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
top = purchase_data_df.set_index("SN")
topfive = top.head()

# top_count = topfive.groupby(["SN"]).count()["SN"].rename("Purchase Count")
snadd = purchase_data_df["SN"].value_counts()
topfive["Purchase Count"] = snadd
purch_count = topfive.sort_values(["Purchase Count"], ascending=False)

rage_count = purch_count.groupby(["SN"]).count()["Purchase Count"].rename("Purchase Count")
topfive_purc_total = topfive.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
# topfive_avgpurchprice = ((topfive_purc_total / purch_count)).rename("Average Purchase Price")

C:\Users\jogaw\AppData\Local\Temp/ipykernel_11920/2111506579.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  topfive["Purchase Count"] = snadd

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
pop = purchase_data_df[["Item ID", "Item Name", "Price"]]

popgrouped = purchase_data_df.groupby(["Item ID", "Item Name"],as_index=False).count()
popgrouped = popgrouped.rename(columns={"Purchase ID": "Purchase Count"})

popgrouped = popgrouped.sort_values("Purchase Count", ascending=False)
# price_summary = popgrouped[["Purchase Count", "Item Price", "Total Purchase Value"]]
tot_purch_value = price_summary["Purchase Count"] * price_summary["Price"]
price_summary["Total Purchase Value"] = tot_purch_value

# price_summary

NameError: name 'price_summary' is not defined

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame